<section class="landing-label">
  <h1>May chika ka? Spill mo na!</h1>
</section>

<% if is_logged_in? %>
  <%= render "form" %>
<% end %>

<section class="article-container">
  <% @articles.each do |article| %> 
  <div class="article-item">
    <div class="article-header">
      <div class="username">
        by: <span class="username-label"><%= article.user.username %></span> 
      </div>
        <div class="date">
          Created <span class="date-label"> <%= article.created_at.strftime("%d %b. %Y") %> </span>
        </div>
    </div>
    <div class="article-body">
      <%= article.body %>
    </div>
    <div class="article-options">
      <% if article.user_id == check_current_user&.id %>
        <%= link_to "Delete", article_delete_path(article.id), class: "delete", method: :delete %>
        <%= link_to "Edit", article_edit_path(article.id), class: "edit" %>
      <% end %>
    </div>
  </div>
  <% end %>
</section>
