<!DOCTYPE html>
<html>
  <head>
    <title>C H I S M I S</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png')%>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="top-container">
    <nav>
      <%= render "layouts/navigation" %>
    </nav>
    <main>  
      <%= yield %>
    </main>
  </section>
  <section class="bottom-container">
    <footer>
    Created by Christian Michael Dollosa. © 2021
    </footer>
  </section>
  
    
  </body>
</html>
